.env
node_modules/
play/dist/
test-results/
play/test-results/
playwright-report/
play/playwright-report/
coverage/
play/coverage/
tmp/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.DS_Store
.idea/
.vscode/settings.json
*.code-workspace
